{% extends "base.html" %}
{% block title %}creer-devis – Département{% endblock %}
{% block sidebar_title %}Mon Département{% endblock %}
{% block sidebar_nav %}
<a href="/departement/dashboard">Tableau de bord</a>
<a href="/departement/creer-devis">Créer un devis</a>
<a href="/departement/mes-devis">Mes devis</a>
<a href="/departement/bons-commande">Bons de commande</a>
<a href="/departement/mes-colis">Mes colis</a>
<a href="/departement/budget">Budget</a>
<a href="/departement/fournisseurs">Fournisseurs</a>
{% endblock %}
{% block content %}<h1>creer-devis</h1>{% endblock %}
