APP_ENV=development
APP_BASE_URL=http://localhost:8080

DB_HOST=localhost
DB_PORT=3306
DB_NAME=suivi_colis_sae
DB_USER=root
DB_PASSWORD=

CAS_HOST=cas.univ-paris13.fr
CAS_CONTEXT=/cas/
CAS_PORT=443
CAS_CA_CERT=

ADMIN_UIDS=
